    <div class="row col-12">        
                   
              <div class="row m-2" role="toolbar" aria-label="Toolbar with button groups">
                <div  class="input-group input-group-sm ">
                                       
                        <div class="btn-group mr-1" role="group">
                            <button class="btn btn-success btn-md mr-2" (click)="agregarLente()">Agregar lente</button>  
                            <div class=" d-flex align-items-center mr-1 ml-1">
                                <span class="pr-1 pt-1"><h6>Buscar lentes Desde:</h6></span>
                                <p-calendar [inputStyle]="{'height':'29.1px'}"  [showTime]="true"   class="mr-2 " [(ngModel)]="fechaDesde"  (onSelect)="actualizarFechaDesde($event)" tabindex="0" [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2100">
                                  <ng-template pTemplate="date" let-date>
                                          <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                                      </ng-template> 
                                  </p-calendar>
                                  <span class="pr-1 pt-1"><h6>Hasta:</h6></span>
                                  <p-calendar [inputStyle]="{'height':'29.1px'}"  [showTime]="true"  class="mr-2 " [(ngModel)]="fechaHasta"  (onSelect)="actualizarFechaHasta($event)" tabindex="0"   [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2100">
                                      <ng-template pTemplate="date" let-date>
                                          <span  inputStyle="{'height':'29.5px'}"  style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                                      </ng-template> 
                                  </p-calendar>         
                            </div>      
                                                        
                                  <div class=" ml-2  d-flex align-items-center">
                                      <span class="pr-1 pt-1"><h6>Buscar entre fechas :</h6></span>
                                     <!-- <div> <button    class="btn  btn-success btn-sm  "  (click)="buscarLentesFecha()" >Buscar entre fechas</button></div> -->
                                     <div> <button    class="btn  btn-success btn-sm  "  (click)="buscarLentesFecha()" > Lentes con cirugia</button></div>
                                     <div><button class="ml-2 btn btn-primary btn-sm" (click)="buscarLentesBaja()">Lentes de baja</button></div>  
                                     <div><button class="ml-2 btn btn-primary btn-sm" (click)="buscarLentesTodos()">Todos los lentes</button></div>  
                                    </div>       
                </div>                                   
                      
                </div>    
            </div>  
    </div>
          <div class="row m-1">
            
          <p-table  #dt class="pt-2" scrollHeight="500px"  tableStyleClass="prime-table" [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" selectionMode="single" [columns]="cols" [value]="elementos"  [(selection)]="selecteditems" columnResizeMode="expand" [responsive]="true"
            scrollHeight="600px" [scrollable]="true"   >
            <ng-template pTemplate="caption">
                <div class="row">
                <div class="col-md-7" style="text-align:left">
                                <button class="btn btn-info btn-sm " (click)="loadList()">Lentes activos</button>
                    
                    <button    class="ml-2  btn  btn-excel btn-sm  "  (click)="exportarExcel()" > <i class="fa fa-file-excel-o  mr-1" aria-hidden="true"> </i> Seleccionados</button>
                    <!-- <button    class="ml-2  btn  btn-excel btn-sm  "  (click)="exportarExcel()" > <i class="fa fa-file-excel-o  mr-1" aria-hidden="true"> </i> Detalle de cirugia</button> -->
                </div>
                <div class="col-md-5" style="text-align:right">                                
                    <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
                </div>
             </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns >

                    <tr >
                        <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th style="width: 3em">
                            <p-tableHeaderCheckbox  ></p-tableHeaderCheckbox>
                          </th>
                    </tr>
                    <tr>
                        
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_tipo" appendTo="body" defaultLabel="Filtrar"	 *ngIf='col.field =="tipo"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_dioptria" appendTo="body" defaultLabel="Filtrar"	 *ngIf='col.field =="dioptria"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'lote'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                        <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'fecha_vencimiento'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">    
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_proveedor" appendTo="body" defaultLabel="Filtrar"	 *ngIf='col.field =="proveedor"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                        <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'remito'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">    
                        <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'factura'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">    
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_ubicacion" appendTo="body" defaultLabel="Filtrar"	 *ngIf='col.field =="ubicacion"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_estado" appendTo="body" defaultLabel="Filtrar"	 *ngIf='col.field =="estado"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>                    
                    </th>
                    <th></th>
                </tr>
            </ng-template>
          
            
      <ng-template pTemplate="body" let-elementos  >
          <tr style="height:28px">
                       
                  <td style="width: 20%" [ngClass]="esBaja(elementos.es_baja)">{{elementos.tipo}}</td>
                  <td style="width: 10%">{{elementos.dioptria}}</td>
                  <td style="width: 15%">{{elementos.lote}}</td>
                  <td style="width: 10%" [ngClass]="vencimiento(elementos.fecha_vencimiento)">{{elementos.fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>   
                  <td style="width: 20%">{{elementos.proveedor}}</td>
                  <td style="width: 12%">{{elementos.remito}}</td>   
                  <td style="width: 12%">{{elementos.factura}}</td>   
                  <td style="width: 10%">{{elementos.ubicacion}}</td>    
                  <td style="width: 20%">{{elementos.estado}}</td>      
                  
                  <td style="width: 10%">
                    <button class="btn btn-success btn-sm" (click)="editar(elementos)">Editar</button>
                    </td>  
                    <td style="width: 3em">
                        <p-tableCheckbox [value]="elementos" ></p-tableCheckbox>
                          </td> 
          </tr>
         
      </ng-template>  
  </p-table>

</div>