
  
  <div class="row col-md-auto justify-content-md-center animated fadeIn slow" >

      <p-table #dt [columns]="cols"  [value]="elementos" selectionMode="single" [resizableColumns]="true"
      [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="400px" >
  
      <ng-template pTemplate="header" let-columns >

              <tr>
                  <th  *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" ></p-sortIcon>
                  </th>
                  
              </tr>
              <tr>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                      <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" autofocus>
                      <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'es_habilitada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                  </th>
                
              </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-elementos>
                      <tr [pSelectableRow]="elementos" >
                          <td>{{elementos.nombre}}</td>
                          <td>{{elementos.descripcion}}</td>
                          <td>{{elementos.es_habilitada}}</td>                                                    
                      </tr>
          </ng-template> 
      </p-table>
      </div>