
<div >
  <div class="row m-1 d-flex justify-content-center">


      <div class="col-md-4 col-xl-4">    
          <div class="row card-header mb-2">
              <h6 >Agenda</h6>
          </div>
         
                 
              <div class="form-group  row pb-2 pt-1">
                <button    class="btn btn-warning btn-block btn-md"  (click)="buscarAgenda()" > <i class="fas fa-clipboard-list "></i> Buscar paciente en agenda</button>
            </div>       
              <form  [formGroup]="DateForm" >
                  <div class="form-group ">
                     
                        <div class="row">
                          <label  >Fecha práctica</label>
                        </div> 
                        <div class="row">
                        <p-calendar formControlName="fechaHoy" [showTime]="true"  (onSelect)="actualizarFecha($event)" tabindex="0"    [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
                          <ng-template pTemplate="date" let-date>
                               <span   style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                           </ng-template> 
                         </p-calendar>
                        </div>         
                    </div> 
                    </form>    
                       

            <form [formGroup]="formMedico">
                <div class="form-group ">
                    <div >
                        <label  class="mt-2" >Médico</label>
                      </div> 

                      <div class=" d-flex align-items-center">
                            <button class="btn btn-primary btn-sm btn-round  mr-2" type="button" (click)="buscarMedico()">
                                <i class="fas fa-search"></i> Buscar médico
                            </button>
 
                         <label class="mt-2 mr-2">{{formMedico.value.apellido}}</label>  
                        <!--  <div *ngIf="formDatosObraSocial.controls['apellido'].errors?.required && formDatosObraSocial.controls['apellido'].touched" class="alert alert-warning">
                            * Este campo es requerido
                        </div> -->
                      </div>  
                </div>
               
     
                
                
              </form>
              <form [formGroup]="formDatosObraSocial">
               
                  <div class="row card-header mb-2">
                      <h6 >Datos de obra social</h6>
                  </div>
                  
                <div class="form-group ">
                    <div class="row">
                      <div >
                        <label  >Número afiliado</label>
                      </div>          
                        <input   class="form-control col-md-12 form-control-sm" formControlName="numero_afiliado"  />                  
                    <!-- <div *ngIf="formDatosObraSocial.controls['numero_afiliado'].errors?.required && formDatosObraSocial.controls['numero_afiliado'].touched" class="alert alert-warning">
                            * Este campo es requerido
                    </div> -->
                  </div>
                  </div>
      
                  <div class="form-group ">
                      <div class="row">
                        <div >
                          <label  >Barra</label>
                        </div>          
                     
                          <input  class="form-control col-md-12 form-control-sm" formControlName="barra_afiliado"  />                  
                      <!-- <div *ngIf="formDatosObraSocial.controls['barra_afiliado'].errors?.required && formDatosObraSocial.controls['barra_afiliado'].touched" class="alert alert-warning">
                              * Este campo es requerido
                      </div> -->
                    </div>
                    </div>
      
                    <div class="form-group ">
                        <div class="row">
                          <div >
                            <label  >Bono</label>
                          </div>          
                        
                            <input  class="form-control col-md-12 form-control-sm" formControlName="bono_afiliado"  />                  
                       <!--  <div *ngIf="formDatosObraSocial.controls['bono_afiliado'].errors?.required && formDatosObraSocial.controls['bono_afiliado'].touched" class="alert alert-warning">
                                * Este campo es requerido
                        </div>  -->
                      </div>
                      </div>
              
                </form>
      </div>

      <div class="col-md-4 col-xl-4 ">
       
        <form class="ml-2" [formGroup]="formPaciente">
            <div class="row card-header mb-2">
                <h6 >Paciente</h6>
            </div>
           
            <div class="form-group ">
                <div >
                    <label  class="mt-2" >Documento</label>
                  </div> 

                  <div class=" d-flex align-items-center">
                        <button class="btn btn-primary btn-sm btn-round  mr-2" type="button" (click)="buscarPaciente()">
                            <i class="fas fa-search"></i> Buscar paciente
                        </button>

                     <label class="mt-2 mr-2">{{formPaciente.value.dni}}</label>  
                     <!-- <div *ngIf="formDatosObraSocial.controls['dni'].errors?.required && formDatosObraSocial.controls['dni'].touched" class="alert alert-warning">
                        * Este campo es requerido
                      </div> -->
                  </div>  
            </div>
    

          <div class="form-group ">
            <div class="row">
              <div >
                <label  >Apellido: </label>
              </div>          
              <label class=" ml-2">{{formPaciente.value.apellido}}</label>        
              </div>
          </div>

          <div class="form-group ">
            <div class="row">
              <div>
                <label  >Nombre: </label>
              </div>   
              <label class=" ml-2">{{formPaciente.value.nombre}}</label>                         
              </div>                 
          </div>

         

        

          <div class=" form-group row">
              <button    class="btn btn-info float-right btn-sm" type="submit" (click)="CrearEditarPaciente()" >Editar datos de paciente</button>
          </div>
         
        </form>

      
       
        <form class="  ml-2" [formGroup]="formObraSocial">
            <div class="row card-header mb-2">
                <h6 >Obra social</h6>
                
            </div>
          

            <div class="form-group  ">
                <div >
                    <label  >Obra social</label>
                  </div> 

                  <div class=" d-flex align-items-center">
                        <button class="btn btn-primary btn-sm btn-round  mr-2" type="button" (click)="buscarObraSocial()">
                            <i class="fas fa-search"></i> Buscar Obra social
                        </button>

                     <label class="mt-2 mr-2">{{formObraSocial.value.nombre}}</label>  
                    <!--  <div *ngIf="formObraSocial.controls['nombre'].errors?.required && formObraSocial.controls['nombre'].touched" class="alert alert-warning">
                        * Este campo es requerido
                     </div> -->
                  </div>  
            </div>

            <div class="form-group ">
                <div >
                    <label  >Obra social</label>
                  </div> 

                  <div class=" d-flex align-items-center">
                        <button class="btn btn-primary btn-sm btn-round  mr-2" type="button" (click)="buscarObraSocialCoseguro()">
                            <i class="fas fa-search"></i> Buscar Coseguro
                        </button>

                     <label class="mt-2 mr-2">{{formObraSocial.value.coseguro_nombre}}</label>  
                    <!--  <div *ngIf="formObraSocial.controls['coseguro_nombre'].errors?.required && formObraSocial.controls['coseguro_nombre'].touched" class="alert alert-warning">
                        * Este campo es requerido
                      </div> -->
                  </div>  
            </div>


          </form>

      </div>
      <div class="col-md-4 col-xl-4  ">

             
                 

             <div class="card-header mb-2">  
        <div >
            <h6 class="pb-2">Prácticas</h6>
           

        <div class="pt-2 pb-2"  *ngIf="operacionCobroPracticas.length>0" >
            <button    class="btn btn-block  btn-danger btn-sm " (click)="removePractica()" ><i class="fas fa-minus pr-2"></i>Borrar listado</button>
        </div>

          <div>
            <p-table  #dt class="pt-2" [columns]="cols" tableStyleClass="prime-table"   [value]="operacionCobroPracticas"   columnResizeMode="expand" [scrollable]="true" scrollHeight="200px" [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green">               

                <ng-template pTemplate="header" let-columns >
                  <tr >
                    <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}" >
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    
                </tr>             
                </ng-template>
       

                      
              <ng-template pTemplate="body" let-operacionCobroPracticas>
                      <tr >
                          <td style="width: 55%">{{operacionCobroPracticas.pmo_descripcion}}</td>                      
                          <td style="width: 25% ">{{operacionCobroPracticas.valor_facturado |  number : '1.2-2'}}</td>
                      <td style="width: 20%"  >
                  <!--       <div class="row"><div ></div>
                        <div></div>
                        </div> -->
                        <div>                    
                          <button type="button" *ngIf="operacionCobroPracticas.tiene_distribucion =='S' && operacionCobroPracticas.es_coseguro =='N' && operacionCobroPracticas.pmo_nivel == 3"   class="btn btn-success btn-sm mr-2 " (click)="buscarDistribucion(operacionCobroPracticas)"><i class="far fa-eye"></i></button>                        
                       <!--  <button type="button" class="btn btn-danger btn-sm " (click)="removePractica(operacionCobroPracticas)">X</button> -->
                        </div>
                        
                        
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      
         
          <div class="pt-2 pb-2">
              <button    class="btn btn-block btn-success  btn-md" type="submit" (click)="agregarPractica()" > <i class="fas fa-plus pr-2"></i> Agregar prestación</button>
          </div>
                </div>
               
              </div>      
   
            <div class="form-group ">     
             <label> Observación del cobro</label>
                <input type="text" [ngModel]="observacion" (ngModelChange)="observacionChange($event)" class="form-control col-md-12 form-control-sm" placeholder="Observación" > 
        </div> 
        <div class="pt-2 pb-2">
          
      </div>
            
            <div class="row">
              <div class="col-4" *ngIf="tieneDistribucion">
              <label>Obra social</label>
                <div>
                  <label class="">{{total_obra_social|  number : '1.2-2'}} $</label>
                </div>
                           
                         
            <!--     <hr>
                <label>Total obra social</label>
                <div>
                    <label class=" text-success ">{{total_obra_social_coseguro |  number : '1.2-2'}} $</label>
                </div>
                 -->
            

              </div>
              <div class="col-4" *ngIf="tieneDistribucion" >
              <label>Coseguro</label>
                  
                <div>
                    <label class=" ">{{total_coseguro |  number : '1.2-2'}} $</label>               
                </div>   
                  <!-- 
                  <label>Categoria coseguro</label>
                  <div>
                      <label class=" text-success ">{{categoria_coseguro |  number : '1.2-2'}} $</label>                  
                  </div>
                  
                  <hr>-->
                
                   
                
              </div>

              <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0">
               <label>Categ. OS + CO</label>
                <div>
                    <label class="  ">{{total_categoria |  number : '1.2-2'}} $</label>                                  
                </div>
          
              </div>
            </div>

            

            <!-- DATOS -->
            <div class="row">
              <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0">               
                <div>
                  <label class="">{{categoria_obra_social|  number : '1.2-2'}} $</label>
                </div>
                           
       

              </div>
              <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0" >
                
                <div>
                    <label class="  ">{{categoria_coseguro |  number : '1.2-2'}} $</label>               
                </div>   
               
              </div>

              <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0">
          
              </div>
            </div>


              <!-- TOTALES -->
              <div class="row">
                <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0">        
                    <hr class="pr-2 pl-2">
                  <div>
                    <label class="  ">{{categoria_obra_social+total_obra_social|  number : '1.2-2'}} $</label>
                  </div>
                             
                  
  
                </div>
                <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0" >
                    <hr class="pr-2 pl-2">
                  <div>
                      <label class="  ">{{categoria_coseguro+total_coseguro |  number : '1.2-2'}} $</label>               
                  </div>   
                 
                </div>
  
                <div class="col-4" *ngIf="tieneDistribucion && total_categoria!=0">
            
                </div>
              </div>
  
            <hr>
            
            <div class="flexbox-max-height flexbox"><h5 class="text-primary ">Totales</h5></div>
            <div class="flexbox">
              <div class="flex-sidebar-columnas flexbox-margin-left">
                  <div class="float-left ">
                      <div><h6 class="text-success ">Particular</h6></div>
                      <div><h6 class="text-success " >{{total_efectivo |  number : '1.2-2'}} $</h6></div>
                  </div>
              </div>
              <div class="flex-menubar-columnas-center">
                <div class="float-center  ">
                    <div><h6 class="text-info ">Obra social </h6></div>
                    <div><h6 class="text-info " >{{categoria_obra_social+total_obra_social|  number : '1.2-2'}} $</h6></div>
                </div>
            </div>
              <div class="flex-menubar-columnas flexbox-margin-right">
                  <div class="float-right">
                      <div><h6 class="text-danger ">Facturado</h6></div>
                      <div><h6 class="text-danger " >{{categoria_obra_social+total_obra_social+total_efectivo+categoria_coseguro+total_coseguro  |  number : '1.2-2'}} $</h6></div>
                  </div>
              </div>
            </div>
      </div>

            <div class="form-group">
                <button (click)="confirmarOperacion()"  type="button" class="btn btn-info btn-md btn-block  text-lg "><h5 class="d-flex align-items-center  justify-content-center"> <i class="far fa-check-circle fa-2x pr-2"
                  aria-hidden="true"></i>Realizar operación de cobro</h5></button>
               
          </div>  
           
        
      </div>

  </div>    
  
</div>