
<div >
  <app-loading *ngIf="loading"> </app-loading> 
 
</div>
<p-toast (life)="100" styleClass="custom-toast" [style]="{marginTop: '100px'}"></p-toast>

<div class="row" >
    
  <div class="row " role="toolbar" aria-label="Toolbar with button groups">
      <div  class="input-group input-group-sm ">
              <form  [formGroup]="DateForm">
              <div class="btn-group ml-2" role="group">
                      <span class="pr-1 pt-1"><h6>Desde:</h6></span>
          <p-calendar [inputStyle]="{'height':'29.1px'}"  [showTime]="true"  class="mr-2 " formControlName="fecha_desde"  (onSelect)="actualizarFechaDesde($event)" tabindex="0"   [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
             <ng-template pTemplate="date" let-date>
                  <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
              </ng-template> 
            </p-calendar>
            <span class="pr-1 pt-1"><h6>Hasta:</h6></span>
            <p-calendar [inputStyle]="{'height':'29.1px'}"  [showTime]="true"  class="mr-2 " formControlName="fecha_hasta"  (onSelect)="actualizarFechaHasta($event)" tabindex="0"   [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
              <ng-template pTemplate="date" let-date>
                   <span  inputStyle="{'height':'29.5px'}"  style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
               </ng-template> 
             </p-calendar>               
                        
             <div class="pr-2 pl-2">    <button    class="btn  btn-primary btn-sm float-right mr-2"  (click)="loadRegistro()" >Buscar Registros</button>  </div>
              
 
          
      </div>
           
              </form>      
 
      </div>

      
    
  </div>

  <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"  (onEditComplete)="editRow($event)" [(selection)]="selecteditems" columnResizeMode="expand" [responsive]="true"
  scrollHeight="400px" [scrollable]="true"  (onFilter)="filtered($event)" [loading]="loading"  >
  <ng-template pTemplate="caption">
    <div class="row">
            <div class="col-md-7 row" style="text-align:left ">
          
                                      
            </div>

 </div>
</ng-template>

             <ng-template pTemplate="header" let-columns >
            
                        <tr >
                             
                          <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th> 
                        
                      </tr> 
                      <tr>
                      <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'operacion_cobro_id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          <input style=" font-size: 12px;"  class="form-control col-md-12 form-control-sm" *ngSwitchCase="'paciente_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'obra_social_practica_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                                            
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'codigo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'medico_nombre'" pInputText type="text" (input)="dt.filter($event.target.value , col.field, col.filterMatchMode)" >                      
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'convenio_os_pmo_valor'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_cobro'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                                             
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'porcentaje'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                       
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'total'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                       
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'valor'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                       
                          
                      </th>
                      <th></th>

                  </tr>
              </ng-template>
            
      <ng-template pTemplate="body" let-elementos  >
          <tr style="height:28px" [ngClass]="colorRow(elementos.forma_pago)">
                                                
                  <td style="width: 5%">{{elementos.operacion_cobro_id}}</td>
                  <td style="width: 20%">{{elementos.paciente_nombre}}</td>                  
                  <td style="font-size: 10px;width: 7%">{{elementos.dni}}</td>
                  <td style="width: 15%">{{elementos.obra_social_practica_nombre}}</td>                                                    
                  <td style="width: 20%">{{elementos.descripcion}}</td>                                              
                  <td style="width: 8%">{{elementos.codigo}}</td>                    
                  <td style="width: 8%">{{elementos.convenio_os_pmo_valor}}</td> 
                  <td style="width: 8%">{{elementos.fecha_cobro | date: 'dd/MM/yyyy'}}</td>                         
                   
                <td  style="width: 6%" [pEditableColumn]="elementos" [pEditableColumnField]="'unidades'"  >
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" class="form-control" [(ngModel)]="elementos.porcentaje">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{elementos.porcentaje}}
                      </ng-template>
                  </p-cellEditor>
              </td>      
              <td  style="width: 6%" [pEditableColumn]="elementos" [pEditableColumnField]="'unidades'"  >
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" class="form-control" [(ngModel)]="elementos.valor">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{elementos.valor}}
                    </ng-template>
                </p-cellEditor>
            </td>
            
            <td  style="width: 6%" [pEditableColumn]="elementos" [pEditableColumnField]="'unidades'"  >
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input type="text" class="form-control" [(ngModel)]="elementos.total">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{elementos.total}}
                  </ng-template>
              </p-cellEditor>
          </td>
                                              
                                                
          </tr>
      </ng-template>
    
  </p-table>
</div>



<p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >                          
    <span>   <a class="nav-link azul text-info  my-hover" (click)="editarRegistro()">Editar registro</a></span>
  </p-overlayPanel>  
  
  
  
  