.icon-account:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-accounting-24.png) no-repeat 0px 0px;
}

.icon-account-16:after{
    content: '';
    display: block;
    height: 16px;  /*height of icon */
    width: 16px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-accounting-24.png);
}


.icon-audit:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-audit-24.png) no-repeat 0px 0px;
}


.icon-audit-important:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-audit-important-24.png) no-repeat 0px 0px;
}


.icon-chart-color:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-chart-24.png) no-repeat 0px 0px;
}

.icon-contact-detail:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-contact-details-24.png) no-repeat 0px 0px;
}

.icon-factory:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-factory-planning-24.png) no-repeat 0px 0px;
}

.icon-high-priority:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-high-priority-24.png) no-repeat 0px 0px;
}

.icon-warning-time:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-expired-24.png) no-repeat 0px 0px;
}


.icon-project:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-project-24.png) no-repeat 0px 0px;
}

.icon-schedule:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-schedule-24.png) no-repeat 0px 0px;
}

.icon-qr:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icon-qr-code-24.png) no-repeat 0px 0px;
}



.icon-robot:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    
    background:  url(./assets/icons/action-icons/icon-robot-24.png) no-repeat 0px 0px;
}



.icon-paquetes:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    
    background:  url(./assets/icons/action-icons/icons-paquetes-24.png) no-repeat 0px 0px;
}



.icon-trabajador:after{
    content: '';
    display: block;
    height: 24px;  /*height of icon */
    width: 24px;  /*width of icon */
    position: absolute;
    background:  url(./assets/icons/action-icons/icons8-worker-24.png) no-repeat 0px 0px;
}




