
<div >
    <app-loading *ngIf="loading"> </app-loading> 
   
</div>
<p-toast (life)="100" styleClass="custom-toast" [style]="{marginTop: '100px'}"></p-toast>

<div class="row col-md-auto" >
      
        <div class="row ">
                <div  class="btn-group" role="group" aria-label="First group"> 
                        <button type="button" class="btn btn-info btn-sm float-right mr-2" (click)="showDialogToAdd()" >Nuevo</button>
                    <button    class="btn  btn-danger btn-sm float-right mr-2" (click)="insertarPracticas()" >Insertar practicas en coseguros</button>
                    <button    class="btn  btn-warning btn-sm float-right mr-2" (click)="ActualizarValores()" >Actualizar valores en coseguros</button>     
                    
                  </div>
            
        </div>

    <p-table  #dt class="pt-2"   tableStyleClass="prime-table" [columns]="cols" [value]="elementos"  (onEditComplete)="editRow($event)" [(selection)]="selectedItem" columnResizeMode="expand"  
    scrollHeight="500px" [scrollable]="true" >
                <ng-template pTemplate="caption">
                    <div class="row">
                            <div class="col-md-7" style="text-align:left">
                                        </div>
                    <div class="col-md-5" style="text-align:right">                                
                        <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
                    </div>
                 </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns >

                        <tr >
                            <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}" >
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            
                        </tr>
                        <tr>
                              
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                            <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'obra_social_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'codigo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pmo_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'complejidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'es_habilitado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                            <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'valor'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        </th>
                        
                    </tr>
                </ng-template>
              

        <ng-template pTemplate="body" let-elementos >
               
            <tr style="height:28px">
                  <!--   <td [pEditableColumn]="elementos">
                            <p-tableCheckbox [value]="elementos"></p-tableCheckbox>
                    </td> -->
                    <td style="width: 20%">{{elementos.obra_social_nombre}}</td>
                    <td style="width: 7%">{{elementos.codigo}}</td>
                    <td style="width: 30%">{{elementos.pmo_descripcion}}</td>                                                    
                    <td style="width: 7%">{{elementos.complejidad}}</td>                            
                    <td style="width: 6%">{{elementos.es_habilitado}}</td>       

                <td  style="width: 7%" [pEditableColumn]="elementos" [pEditableColumnField]="'unidades'"  >
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" class="form-control" [(ngModel)]="elementos.valor">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{elementos.valor}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="width: 70px" >
                   
                    <button type="button" class="btn btn-success btn-sm" (click)="showDialogToUpdate(elementos)"    >Editar</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
   
</div>





