<p-menubar [model]="general" autoZIndex="false" *ngIf="loggedIn">
  <div class="flexbox d-flex align-items-center mt-2">
    <app-chat-notificator class="mr-3"></app-chat-notificator>
    <label class="texto-monserrat icon-color-user-setting mr-2"
      >PUESTO : {{ puesto | uppercase }}
    </label>

    <a
      (click)="accion($event, op)"
      class="
        mr-2
        ml-2
        btn btn-link btn-success btn-lg
        texto-monserrat
        icon-color-user-setting
      "
    >
      <i class="fas fa-user-circle fa-lg"></i> {{ username | uppercase }}</a
    >
    <p-overlayPanel
      #op
      [showTransitionOptions]="'400ms'"
      [hideTransitionOptions]="'300ms'"
      [dismissable]="true"
      [showCloseIcon]="true"
    >
      <div class="box">
        <h2 class="texto-roboto">Panel de usuario</h2>

        <ul>
          <li class="texto-monserrat" (click)="documentacion()">
            <i class="fas fa-angle-right fa-lg mr-2 icon-color-loader"></i>
            Documentación
          </li>

          <li class="texto-monserrat" (click)="micuenta()">
            <i class="fas fa-cog fa-lg mr-2 icon-color-usuario"></i>Mi cuenta
          </li>
          <li class="texto-monserrat" (click)="cerrarSesion()">
            <i
              class="
                fas
                fa-power-off
                my-hover
                icon-color-quit
                nav-links
                fa-2x
                m-2
              "
            ></i
            >Cerrar sesión
          </li>
        </ul>
      </div>
    </p-overlayPanel>
  </div>
</p-menubar>

<div class="mr-2 ml-2 mb-1" *ngIf="loggedIn">
  <router-outlet></router-outlet>
</div>

<div class="wrapper fadeInDown" *ngIf="!loggedIn">
  <!--   <div id="formContent">
  <h2 class="active"> Ingresar</h2>
  <div class="fadeIn first">
    <img src="assets/img/login-user.jpg" id="icon" alt="User Icon" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="username" class="fadeIn second" name="login" placeholder="Usuario">
    <input type="password" formControlName="password" class="fadeIn third" name="login" placeholder="Contraseña">
    <input type="submit" class="fadeIn fourth" value="Ingresar">

  </form>

  </div> -->

  <div class="wrapper fadeInDown" *ngIf="!loggedIn">
    <div style="background-color: #666666">
      <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <form
              [formGroup]="loginForm"
              class="login100-form validate-form"
              (ngSubmit)="onSubmit()"
            >
              <span class="login100-form-title p-b-43"> Bienvenido </span>

              <div
                class="wrap-input100 validate-input"
                data-validate="Usuario válido es requerido"
              >
                <input
                  class="input100"
                  type="text"
                  name="email"
                  formControlName="username"
                  autofocus
                />
                <span class="focus-input100"></span>
                <span class="label-input100">Usuario</span>
              </div>

              <div
                class="wrap-input100 validate-input"
                data-validate="Contraseña es requerida"
              >
                <input
                  class="input100"
                  type="password"
                  name="pass"
                  formControlName="password"
                />
                <span class="focus-input100"></span>
                <span class="label-input100">Contraseña</span>
              </div>
              <div
                class="wrap-input100 validate-input"
                data-validate="Contraseña es requerida"
              >
                <b>
                  <input
                    class="input100 text-danger"
                    type="text"
                    name="puesto"
                    formControlName="puesto"
                /></b>
                <span class="focus-input100"></span>
                <span class="label-input100">Puesto</span>
              </div>

              <div class="m-2" *ngIf="loading">
                <div class="d-flex justify-content-center">
                  <p-progressSpinner
                    [style]="{ width: '50px', height: '50px' }"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </div>
                <div class="d-flex justify-content-center">
                  <label class="texto-monserrat-alternat">{{
                    loading_mensaje
                  }}</label>
                </div>
              </div>
              <div class="m-2" *ngIf="loading_error">
                <div class="d-flex justify-content-center">
                  <span class="badge badge-warning texto-monserrat-alternat p-2"
                    >Usuario o contraseña incorrectos</span
                  >
                  <label class="texto-monserrat-alternat text-danger"></label>
                </div>
              </div>

              <div class="container-login100-form-btn">
                <button class="login100-form-btn texto-monserrat">
                  Ingresar
                </button>
              </div>
            </form>

            <div
              class="login100-more"
              style="background-image: url(assets/images/background/login.jpg)"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
