
<div >
  <app-loading *ngIf="loading"> </app-loading> 
</div>

<div class="row">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
              <div  class="input-group input-group-sm ">
                      <form  [formGroup]="DateForm">
                  <p-calendar formControlName="fechaHoy"  (onSelect)="actualizarFecha($event)" tabindex="0"   [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
                     <ng-template pTemplate="date" let-date>
                          <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                      </ng-template> 
                    </p-calendar>
                      </form>
              </div>
  
  
            <div  class="btn-group ml-2" role="group" aria-label="First group">                 
              <button    class="btn btn-lg btn-primary btn-sm float-right mr-2" (click)="loadList()" >Buscar</button>                           
              <button    class="btn btn-lg btn-primary btn-sm float-right mr-2" (click)="imprimirListado()" >Imprimir listado</button>    
            </div>
          </div>

          
          <p-table   class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"  (onEditComplete)="editRow($event)" [(selection)]="selecteditems" columnResizeMode="expand" [responsive]="true"
          scrollHeight="600px" [scrollable]="true"  (onFilter)="filtered($event)"  >


           <ng-template pTemplate="header" let-columns >
          
                      <tr >
                           
                        <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th> 
                      
                    </tr> 
                    <tr>
                          
                    <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                        
                        <input style=" font-size: 12px;"  class="form-control col-md-12 form-control-sm" *ngSwitchCase="'paciente_apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'paciente_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'paciente_dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'cirugia_practica'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                                                                                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_derivacion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'ojo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'es_atendido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'usuario_atendio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_atencion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                    </th>   
                   
                    
                </tr>
            </ng-template>
          
    <ng-template pTemplate="body" let-elementos  >
        <tr style="height:28px">                        
                <td style="font-size: 11px;width: 12%">{{elementos.paciente_apellido}}</td>
                <td style="font-size: 11px;width: 12%">{{elementos.paciente_nombre}}</td>
                <td style="font-size: 11px;width: 8%">{{elementos.paciente_dni}}</td>                                                                                 
                <td style="font-size: 11px;width: 20%">{{elementos.cirugia_practica}}</td>    
                <td style="font-size: 11px;width: 8%">{{elementos.fecha_derivacion | date: 'dd/MM/yyyy HH:mm:ss'}}</td>     
                <td style="font-size: 11px;width: 6%">{{elementos.ojo}}</td>                                        
                <td style="font-size: 11px;width: 8%">{{elementos.es_atendido}}</td>  
                <td style="font-size: 11px;width: 15%">{{elementos.usuario_atendio}}</td>   
                <td style="font-size: 11px;width: 8%">{{elementos.fecha_atencion| date: 'dd/MM/yyyy HH:mm:ss'}}</td> 
                
                <td style="width: 8%">
                  <button  type="button" class="btn btn-success btn-sm" (click)="atendido(elementos)"    >Atender</button>
              </td>    
        </tr>
       
    </ng-template>  
</p-table>



</div>
