<div class="flex-container center m-3">
  <p-progressSpinner
    *ngIf="loading"
    [style]="{ width: '32px', height: '32px' }"
    strokeWidth="6"
    fill="#EEEEEE"
    animationDuration=".5s"
  ></p-progressSpinner>
  <label class="ml-2">{{ peticion }}</label>
</div>

<div class="row ml-5 mr-5 mt-3">
  <label class="mr-2 mt-1">Médico - Clínica:</label>

  <p-dropdown
    class="mr-2"
    [options]="elementosMedicos"
    [(ngModel)]="elementoMedicos"
    optionLabel="nombreyapellido"
    (onHide)="obtenerMedico()"
    placeholder="Medico / Clínica"
    [showClear]="true"
    [filter]="true"
  ></p-dropdown>
  <label *ngIf="elementoMedicos" class="mr-2 mt-1"
    >Condición : {{ elementoMedicos.categoria_iva }}</label
  >
  <!-- <button class="btn btn-info mr-1 ml- 1" (click)="">Todos</button> -->

  <label class="ml-2 mr-2 mt-1">Fecha :</label>
  <p-calendar
    [inputStyle]="{ height: '35.1px' }"
    class="mr-2"
    [(ngModel)]="fecha"
    (onSelect)="actualizarFecha($event)"
    tabindex="0"
    [locale]="es"
    dateFormat="dd/mm/yy"
    [readonlyInput]="true"
  >
    <ng-template pTemplate="date" let-date>
      <span
        style="
          border-radius: 50%;
          padding: 0.25em;
          width: 1.75em;
          height: 1.75em;
          display: block;
        "
        >{{ date.day }}</span
      >
    </ng-template>
  </p-calendar>
</div>

<hr />

<div class="d-flex align-items-center">
  <div>
    <label class="mr-1">Punto : </label>
    <p-dropdown
      class="col-1"
      [options]="elementosPtoVta"
      [(ngModel)]="elementoPtoVta"
      (onHide)="obtenerPuntoVta()"
      optionLabel="punto_vta"
      placeholder="Pto venta"
    ></p-dropdown>
  </div>
  <div>
    <div>
      <label class="mr-1"
        >Factura : {{ this.pto_vta }} - {{ this.factura_nro }}
      </label>

      <p-dropdown
        class="mr-3"
        [options]="elementosComprobante"
        [(ngModel)]="elementoComprobante"
        (onHide)="obtenerUltimaFactura()"
        optionLabel="descripcion"
        placeholder="Factura"
      ></p-dropdown>

      <p-dropdown
        class="ml-3"
        [options]="elementosConcepto"
        [(ngModel)]="elementoConcepto"
        optionLabel="descripcion"
        placeholder="Concepto"
      ></p-dropdown>
    </div>
  </div>
</div>

<hr />
<div class="row ml-5 mr-2 mt-3 d-flex align-items-center">
  <label class="mr-2 mt-1">Condición IVA :</label>
  <p-dropdown
    class="mr-2"
    [options]="elementosCondicionIva"
    [(ngModel)]="elementoCondicionIva"
    optionLabel="categoria_iva"
    placeholder="Categoria"
  ></p-dropdown>
  <p-dropdown
    class="mr-2"
    [options]="elementosDocumento"
    [(ngModel)]="elementoDocumento"
    (onHide)="onElementoDocumento()"
    optionLabel="descripcion"
    placeholder="Documento"
  ></p-dropdown>
  <label class="mr-1 ml-2 mt-1">Número :</label>
  <input
    type="text"
    class="form-control col-2 form-control-sm"
    [(ngModel)]="nrodocumento"
  />
</div>

<div class="row ml-5 mr-2 mt-3 d-flex align-items-center">
  <label class="mr-2 mt-1">Cliente :</label>
  <input
    type="text"
    class="form-control col-3 form-control-sm"
    [(ngModel)]="cliente"
    placeholder="Cliente"
  />
  <button class="btn btn-info btn-sm ml-1" (click)="buscarPaciente()">
    Buscar paciente
  </button>
  <button class="btn btn-success btn-sm ml-1" (click)="buscarCliente()">
    Buscar cliente/proveedor
  </button>
  <button
    class="btn btn-warning btn-sm ml-1 d-flex justify-content-end"
    (click)="buscarFacturaAfip()"
  >
    Buscar facturas en AFIP
  </button>
</div>
<hr />
<div class="row ml-5 mr-5 mt-3 d-flex align-items-center">
  <label class="mr-1 ml-2 mt-1">Observación :</label>
  <input
    type="text"
    class="form-control col-4 form-control-md"
    [(ngModel)]="observacion"
    placeholder="Observación"
  />
  <label class="mr-2 ml-2 mt-1">Período desde :</label>
  <p-calendar
    [inputStyle]="{ height: '35.1px' }"
    class="mr-2"
    [(ngModel)]="fechaDesde"
    (onSelect)="actualizarFechaDesde($event)"
    tabindex="0"
    [locale]="es"
    dateFormat="dd/mm/yy"
    [readonlyInput]="true"
  >
    <ng-template pTemplate="date" let-date>
      <span
        style="
          border-radius: 50%;
          padding: 0.25em;
          width: 1.75em;
          height: 1.75em;
          display: block;
        "
        >{{ date.day }}</span
      >
    </ng-template>
  </p-calendar>
  <label class="mr-2 mt-1">Período hasta :</label>
  <p-calendar
    [inputStyle]="{ height: '35.1px' }"
    class="mr-2"
    [(ngModel)]="fechaHasta"
    (onSelect)="actualizarFechaHasta($event)"
    tabindex="0"
    [locale]="es"
    dateFormat="dd/mm/yy"
    [readonlyInput]="true"
  >
    <ng-template pTemplate="date" let-date>
      <span
        style="
          border-radius: 50%;
          padding: 0.25em;
          width: 1.75em;
          height: 1.75em;
          display: block;
        "
        >{{ date.day }}</span
      >
    </ng-template>
  </p-calendar>
</div>

<div class="row ml-5 mr-5 mt-3">
  <p-table
    #dt
    class="pt-2"
    tableStyleClass="prime-table"
    selectionMode="single"
    [columns]="cols"
    [value]="elementos"
    [(selection)]="selecteditems"
    columnResizeMode="expand"
    [responsive]="true"
    scrollHeight="200px"
    [scrollable]="true"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-11 row" style="text-align: left">
          <div class="pr-2 pl-2" style="text-align: left">
            <button
              class="btn btn-success btn-sm float-right mr-2"
              (click)="agregarRenglon()"
            >
              Agregar renglon
            </button>
          </div>
          <div class="pr-2 pl-2" style="text-align: left">
            <button
              class="btn btn-info btn-sm float-right mr-2"
              (click)="agregarRenglonOS()"
            >
              Presentación a O.S
            </button>
          </div>
        </div>
        <div
          class="col-md-1 my-hover"
          (click)="eliminarRegistro()"
          style="text-align: right"
        >
          <!--   <a      ><i class="far fa-trash-alt fa-2x icon-color-red" ></i></a>     -->
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [ngStyle]="{ width: col.width }"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'descripcion'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'cantidad'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'precio_unitario'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'alicuota_descripcion'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'iva'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
          <input
            style="font-size: 12px"
            class="form-control col-md-12 form-control-sm"
            *ngSwitchCase="'total_renglon'"
            pInputText
            type="text"
            (input)="
              dt.filter($event.target.value, col.field, col.filterMatchMode)
            "
          />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-elementos>
      <tr style="height: 28px">
        <td style="width: 55%" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="elementos.descripcion"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ elementos.descripcion }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="width: 10%">{{ elementos.cantidad }}</td>
        <td style="width: 10%">
          {{ elementos.precio_unitario | number: "1.2-2" }}
        </td>
        <td style="font-size: 10px; width: 9%">
          {{ elementos.alicuota_descripcion }}
        </td>
        <td style="font-size: 10px; width: 10%">
          {{ elementos.iva | number: "1.2-2" }}
        </td>
        <td style="font-size: 10px; width: 10%">
          {{ elementos.total_renglon | number: "1.2-2" }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="pt-1 pb-1 align-items-center">
        <ul>
          <div class="row float-right mr-2">
            <b
              ><h6 class="pr-2 mt-1">Cantidad : {{ cantidad }} -</h6></b
            >
            <b
              ><h6 class="text-primary pr-2 mt-1">
                Subtotal : {{ subtotal | number: "1.2-2" }} $ -
              </h6></b
            >
            <b
              ><h6 class="text-info pr-2 mt-1">
                Imp. IVA : {{ subtotal_iva | number: "1.2-2" }} $
              </h6></b
            >
            <h5 class="text-success ml-4">
              <b>Total : {{ total | number: "1.2-2" }} $ </b>
            </h5>
          </div>
        </ul>
      </div>
    </ng-template>
  </p-table>
  <button
    class="mt-2 m-2 btn btn-info btn-block btn-lg"
    (click)="guardarDatos()"
  >
    Guardar factura
  </button>
</div>
