     
            <form class="col-12"  [formGroup]="updateDataForm">
                <div class="row">
                    <div class="col-8">

                        <div class="form-group ">
                            <label  >Tipo comprobante</label>
                            <input class="form-control col-md-12 form-control-sm" formControlName="tipo_comprobante"  autofocus  />
                            <div *ngIf="updateDataForm.controls['tipo_comprobante'].errors?.required && updateDataForm.controls['tipo_comprobante'].touched" class="alert alert-warning">
                                    * Este campo es requerido
                            </div>
                    </div> 
                    
                    </div>
        </div>
             
            </form>

        
            <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button  [disabled]="!updateDataForm.valid" class="btn btn-info texto-roboto btn-block" type="submit" (click)="guardarDatos()" >Guardar</button>
                            
                    </div>
                </p-footer>
       