<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<body class="bg-purple">
        
    <div class="stars">

        <div class="central-body">
            <!-- <img class="image-404" src="../../../../assets/images/404/404.svg" width="300px"> -->
            <h1>ESTAS TRATANDO DE ACCEDER A UN SITIO NO DISPONIBLE</h1>
            <a href="assets/images/404/404.html" class="btn-go-home" routerLink="/inicio" >INICIO</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="assets/images/404/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="assets/images/404/earth.svg" width="100px">
                <img class="object_moon" src="assets/images/404/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="assets/images/404/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>