
<div >
  <app-loading *ngIf="loading"> </app-loading> 
 
</div>
<p-toast (life)="100" styleClass="custom-toast" [style]="{marginTop: '100px'}"></p-toast>

<div class="row">
    
  <div class="row" role="toolbar" aria-label="Toolbar with button groups">
      <div  class="input-group input-group-sm ">
              <form  [formGroup]="DateForm">
                      <div class="btn-group " role="group">
                              <span class="pr-1 pt-1"><h6>Desde:</h6></span>
                  <p-calendar [inputStyle]="{'height':'29.1px'}" [showTime]="true"   class="mr-2 " formControlName="fecha_desde"  (onSelect)="actualizarFechaDesde($event)" tabindex="0"   [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
                  <ng-template pTemplate="date" let-date>
                          <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                      </ng-template> 
                  </p-calendar>
                  <span class="pr-1 pt-1"><h6>Hasta:</h6></span>
                  <p-calendar [inputStyle]="{'height':'29.1px'}"  [showTime]="true"  class="mr-2 " formControlName="fecha_hasta"  (onSelect)="actualizarFechaHasta($event)" tabindex="0" [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true">
                      <ng-template pTemplate="date" let-date>
                          <span  inputStyle="{'height':'29.5px'}"  style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                      </ng-template> 
                  </p-calendar>               
                              

                  
              </div>
               <div  class="btn-group btn-sm " role="group" aria-label="First group" >                                             
                  
                  <div class="pl-1"><button    class="btn  btn-success btn-sm float-right "  (click)="loadRegistro()" >Buscar Registros</button></div>
                  <div class="pl-1"><button    class="btn  btn-primary btn-sm float-right "  (click)="asociar()" >Asociar operación de cobro</button></div>
              </div>
          </form>            
              <div class=" row col-2 input-group input-group-sm btn-sm pb-4 ml-4 float-right">
                     
                  </div> 
      </div> 
    
  </div>
  <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"  (onEditComplete)="editRow($event)" [(selection)]="selecteditems" columnResizeMode="expand" [responsive]="true"
  scrollHeight="600px" [scrollable]="true"  (onFilter)="filtered($event)"  >
              <ng-template pTemplate="caption">
                  <div class="row">
                          <div class="col-md-7 row" style="text-align:left ">
                           <div class="pr-2 pl-2">   <button    class="btn  btn-info btn-sm   "  (click)="generarPdfListado('todos')" >Imprimir resumen</button></div>
                           <div><button    class="btn  btn-success btn-sm "  (click)="generarPdfListado('medico')" >Imprimir resumen por médico</button></div>  
                           <div>  <button    class="ml-2 btn  btn-primary btn-sm float-right "  (click)="buscarPractica()" >Buscar otros registros</button></div>                             
                          </div>
                  <div class="col-md-5" style="text-align:right">                                
                      <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
                  </div>
               </div>
              </ng-template>

             <ng-template pTemplate="header" let-columns >
            
                        <tr >
                             
                          <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th> 
                          <th style="width: 3em">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      </tr> 
                      <tr>
                      <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'operacion_cobro_id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'operacion_cobro_numero_bono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;"  class="form-control col-md-12 form-control-sm" *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'obra_social_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'complejidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                                                  
                            <!--    <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" *ngSwitchCase="'complejidad'" [style]="{'width':'100%', 'height': '30px'}" [options]="complejidades"  (onChange)="dt.filter($event.target.value, col.field, col.filterMatchMode)"></p-multiSelect>  -->
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'codigo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'medico_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'usuario_cobro_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_cobro'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                                         
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                                                                                                    
                               <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'valor_facturado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                                                       
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'distribucion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                       
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'forma_pago'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                       
                              
                      </th>
                      
                      <th>                         
                      </th>
                  </tr>
                  <tr>
                          
                  </tr>
              </ng-template>
            
      <ng-template pTemplate="body" let-elementos  >
          <tr style="height:28px" [ngClass]="colorEstado(elementos.tiene_observacion)" >
                 
              <td style="width: 5%" >
                  <a   (click)="verObservacion($event,op,elementos)"   >    <i class="pointer far fa-eye fa-2x icon-color-purple" *ngIf="elementos.tiene_observacion === 'SI'"  ></i></a>
              </td>
                  <td style="font-size: 10px;width: 5%">{{elementos.operacion_cobro_id}}</td>
                  <td style="font-size: 10px;width: 8%">{{elementos.operacion_cobro_numero_bono}}</td>
                  <td style="font-size: 10px;width: 10%">{{elementos.apellido}}</td>
                  <td style="font-size: 10px;width: 10%">{{elementos.nombre}}</td>
                  <td style="font-size: 10px;width: 7%">{{elementos.dni}}</td>
                  <td style="font-size: 10px;width: 15%">{{elementos.obra_social_nombre}}</td>                                                    
                  <td style="font-size: 10px;width: 20%">{{elementos.descripcion}}</td>                            
                  <td style="font-size: 10px;width: 5%">{{elementos.complejidad}}</td>  
                  <td style="font-size: 10px;width: 8%">{{elementos.codigo}}</td>  
                  <td style="font-size: 10px;width: 10%">{{elementos.medico_nombre}}</td>  
                  <td style="font-size: 10px;width: 8%">{{elementos.usuario_cobro_nombre}}</td>  
                  <td style="font-size: 10px;width: 8%">{{elementos.fecha_cobro | date: 'dd/MM/yyyy'}}</td>       
                  <td style="font-size: 10px;width: 6%">{{elementos.cantidad}}</td>                                             
                  <td [ngClass]="colorRow(elementos.forma_pago)" style="font-size: 10px;width: 6%" >{{elementos.valor_facturado}}</td>     
                  <td [ngClass]="colorRow(elementos.forma_pago)" style="font-size: 10px;width: 6%">{{elementos.distribucion }}</td>   
                  <td style="font-size: 10px;width: 10%">{{elementos.forma_pago}}</td>   
                  <td style="width: 3em">
                      <p-tableCheckbox [value]="elementos"></p-tableCheckbox>
                  </td>       
    
          </tr>
      </ng-template>
       <ng-template pTemplate="summary">
              
             
              <ul>
                  <!-- <li *ngFor="let sel of selecteditems" style="text-align: left">
                      {{sel.obra_social_nombre + ' - ' + sel.descripcion + ' - ' + sel.fecha_cobro + ' - ' + sel.medico_nombre}}
                  </li> -->
              </ul>
          </ng-template> 
          
  </p-table>
 
<div class="container-fluid pt-4">
      <hr>
  <div class="row float-right">
      <h6 class="text-info pr-2">CANTIDAD PRACTICAS : {{cantidad_practica}}  -</h6>
      <h6 class="text-danger"> TOTAL REAL : {{total_original|  number : '1.2-2' }} $ -</h6>
      <h6 class="text-info"> TOTAL : {{total_facturado|  number : '1.2-2' }} $</h6>
  </div>
</div>
</div>



<p-dialog header="Observaciones" class="text-primary" [(visible)]="display" class="p-2" [baseZIndex]="10000" [responsive]="true"> 
  <label>OBSERVACION </label>        
  <textarea [rows]="5" [cols]="30" pInputTextarea class="form-control form-control-sm col-md-12"[(ngModel)]="observacion"></textarea>   
 
  </p-dialog>
    
    



